.submit__button {
  padding: 16px;

  font-family: inherit;

  font-size: 16px;
  font-weight: 500;
  color: #EBF4F8;
  line-height: 21px;
  
  background: #0880AE;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 6px;
  border: none;

  width: 100%;
}

.submit__button:hover {
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.08), 0px 24px 48px rgba(44, 39, 56, 0.16);
}

.submit__button:active {
  padding: 16px;

  border: 2px solid rgba(44, 39, 56, 0.86);
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001), 0px 4px 8px rgba(44, 39, 56, 0.08);
}

.submit__button:disabled {
  color: #B1B5BF;

  background: #DBE2EA;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
}

.submit__button--disabled {
  color: #B1B5BF;

  background: #DBE2EA;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
}